<div>
  <%= simple_form_for book, url: url_for(book), defaults: { input_html: { class: "form" } } do |f| %>
    <%= f.input :title, label: false, hint: 'TITLE '%>
    <%= f.input :author, label: false, hint: 'AUTHOR ' %>
    <%= f.input :isbn, placeholder: "0000000000000 - 13 digits", label: false, hint: 'ISBN ' %>
    <%= f.input :description, label: false, hint: 'DESCRIPTION ' %>
  <div>
    <%= f.button :submit, "UPDATE BOOK", class: "btn-green" %>
  </div>
  <% end %>
</div>
