<!DOCTYPE html>
<html>
  <head>
    <title>BooksReader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-yellow-50">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div class="flash">
      <%= render 'layouts/alerts' %>
    </div>
    <main class="container flex px-5 mx-auto mt-6">
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>

</html>
